.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0,.25);
  background: rgba(114, 29, 250, 0.062);
}

.sidenav .mat-toolbar {
  margin: 0;
  /* background: inherit; */
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 70px;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  padding-top: 10px;
  padding-bottom: 5px;
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
}

.mat-icon{
  text-shadow: 2px 2px 4px #000000;
}

.mat-toolbar{
  text-shadow: 2px 2px 4px #000000;
}